<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>任务1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>任务2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>任务3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>任务4</string>
			</dict>
			<dict>
				<key>name</key>
				<string>任务5</string>
			</dict>
		</array>
		<key>name</key>
		<string>酒店餐厅礼仪礼貌检查内容</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>任务1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>任务2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>任务3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>任务4</string>
			</dict>
			<dict>
				<key>name</key>
				<string>任务5</string>
			</dict>
		</array>
		<key>name</key>
		<string>酒店餐厅操作程序质检内容</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>任务1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>任务2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>任务3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>任务4</string>
			</dict>
			<dict>
				<key>name</key>
				<string>任务5</string>
			</dict>
		</array>
		<key>name</key>
		<string>酒店餐厅区域卫生质检内容</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>任务1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>任务2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>任务3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>任务4</string>
			</dict>
			<dict>
				<key>name</key>
				<string>任务5</string>
			</dict>
		</array>
		<key>name</key>
		<string>酒店餐厅工作纪律质检内容</string>
	</dict>
</array>
</plist>
